
CREATE DATABASE RecomendadorPeliculas
GO
USE [RecomendadorPeliculas]
GO
/****** Object:  Table [dbo].[GeneroPelicula]    Script Date: 22/6/2025 19:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneroPelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial]    Script Date: 22/6/2025 19:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[PeliculaId] [int] NOT NULL,
	[Calificacion] [float] NOT NULL,
	[FechaReseña] [datetime] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
	[IsCalificada] [bit] NOT NULL,
	[Generos] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 22/6/2025 19:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Genres] [varchar](100) NULL,
	[TmdbId] [int] NULL,
	[anio] [int] NULL,
	[duracion] [int] NULL,
 CONSTRAINT [PK__Pelicula__3213E83F5495B510] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 22/6/2025 19:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(162534,1) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasenia_hash] [varchar](255) NOT NULL,
	[fecha_de_nacimiento] [date] NULL,
	[Genero] [char](1) NULL,
	[TokenRecuperacion] [varchar](255) NULL,
	[TokenExpiracion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioGenero]    Script Date: 22/6/2025 19:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioGenero](
	[UsuarioId] [int] NOT NULL,
	[GeneroId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[GeneroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsuarioGenero]  WITH CHECK ADD FOREIGN KEY([GeneroId])
REFERENCES [dbo].[GeneroPelicula] ([Id])
GO
ALTER TABLE [dbo].[UsuarioGenero]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[usuario] ([id])
GO

INSERT INTO [dbo].[GeneroPelicula]
           ([Nombre])
     VALUES
           ('Acción')
GO
INSERT INTO [dbo].[GeneroPelicula]
           ([Nombre])
     VALUES
           ('Comedia')
GO
INSERT INTO [dbo].[GeneroPelicula]
           ([Nombre])
     VALUES
           ('Drama')
GO
GO